.pf-illust-info-container{
    display: none;
}
.iasfms-0.iubowd{
    position: relative;
}

.pf-illust-info-toggle{
    position: absolute;
    right: 0px;
}

.pf-add-button{
    margin-right: 1rem;
}